<%- include("header")-%>

<h1>About </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem cum dolorum eveniet explicabo impedit
    libero nihil odit, quas, quia ratione sequi ullam. Alias hic inventore labore laborum natus?</p>
<%-include("footer")-%>